/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Nguyên tắc:
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* Khi làm website cần xác định:
1. Vị trí
2. kích thước (width, height)
3. màu sắc
4. kiểu dáng (kiểu chữ, hình tròn, vuông,..)

*/

/* Common */
.clear {
    clear: both;
}

.text-white {
    color:#fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear:both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100% / 3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.mt-8px {
    margin-top: 8px !important;
}


.mt-16px {
    margin-top: 16px !important;
}

.btn {
    display: inline-block;
    padding: 9px 17px;
    background-color: #000;
    color: #fff;
    margin-bottom: 16px;
    text-decoration: none;
    border: none; 
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}

.pull-right {
    float: right;
}
/* main */
/* #main {

} */

#header {
    height: 46.5px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
} 

#nav li a {
    line-height: 46.5px;
    text-decoration: none;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a
{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

#nav .subnav a {
    padding: 0px 12px;
    line-height: 38.5px;
    color: #000;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .menu-btn {
    float: right;
    padding: 0px 24px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search-btn {
    float: right;
    padding: 0px 24px;
}


#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

#header .menu-btn:hover {
    background-color: #ccc;
}

#header .menu-btn:hover .menu-icon {
    color: #000;
}

#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(..//img/Slider/chicago.jpg) top center /cover no-repeat;
    position: relative;
}

.text-content {
    position: absolute;
    color: #fff;
    padding: 32px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.text-heading {
    margin: 10px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.text-decription {
    margin: 15px;
    font-size: 18px;
    text-shadow: 0 0 2px #000;
}


/* #content {

} */

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;
}

#content .section-heading {
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 4px;
    font-weight: 500;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
    margin: 15px 0;
}

#content .about-text {
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
    text-align: justify;
    font-family: "Lato", sans-serif;
}

#content .member-list {
    margin: 16px 0;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}


#content .member-img {
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    line-height: 1.5;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    text-align: center;

}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color:#fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -1px;
}


#content .place-list {
    margin-top: 16px;
}

#content .place-ing {
    display: block;
    width: 100%;
}

#content .place-ing:hover {
    opacity: 0.6;
}

#content .place-body {
    padding: 0.150px 16px;
    font-size: 15px;
    line-height: 1.5;
    background-color: #fff;
}

#content .place-heading {
    margin: 15px 0px;
    font-weight: 500;
}

#content .place-time {
    margin: 15px 0;
    opacity: 0.6;
}

#content .place-desc {
    margin: 15px 0;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease .5s;
}


.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
}

.modal-close:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
    opacity: 1;
}

.modal-heading-icon {
    margin: 0px 12px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    padding: 8px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
}

#buy-ticket {
    width: 100%;
    border: none;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px 0px;
}

#buy-ticket:hover {
    background-color: #ccc;
    color: #000;
    font-weight: 500;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Contact form */

.contact-content {
    margin-top: 32px;
    margin-bottom: 32px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info a {
    color: #333;
    opacity: 0.7;
}

.contact-info:hover a {
    opacity: 1;
}
.contact-info i[class*="ti-"] {
    width: 20px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10.5px 20.5px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-contact {
    font-size: 24px;

}

#footer .social-contact a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-contact a:hover {
    color: rgba(0, 0, 0, 0.3);    
}

#footer .copyright {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.5);
}